<h1>Individual Event Listing</h1>
<% event %>

<div >
  <p>Organizer: <%= event.name%></p>
  <p>Event type : <%= event.type%></p>
  <p>Description: <%= event.description%></p>
  <p>Date: <%= event.date%></p>
  <p>Location: <%= event.location%></p>
  <p>Number of spots: <%= event.numberofspots %></p>
  <p>Status: <%= event.status%></p>
</div>

<div class = 'container'>
<h3>People also attending this event</h3>

<% event.usersattending.forEach(function (item, index) {%>
  <%= item %>
<% }) %>

</div>

<form  action="/public/events/event/<%= event.id%>/interestedinevent?_method=PUT" method="POST">
<input type="submit" value="Join">
</form>
