<div class='container'>
  <h1>Your events</h1>
  <a href ="/auth/profile/events/create-event"<button type="button" class="btn btn-default">Propose new event</button></a>
  <table class='table'>
    <thead>
      <tr>
        <th>Description</th>
        <th>Date</th>
        <th>Location</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <%user%>
      <tr>
        <% user.eventsattending.forEach(function (item, index) {%>
          <td><a href ="/auth/profile/events/<%=item.id%>"><%= item.id%></a></td>
          <td><%= item.description%></td>
          <td><%= item.date%></td>
          <td><%= item.location%></td>
          <td><%= item.status%></td>
          <% }) %>
      </tr>
      <tr>
        <% user.eventsorganized.forEach(function (item, index) {%>
          <td><a href= "/public/events/event/<%= item.id%>"><%= item.id%></a></td>
          <td><%= item.description%></td>
          <td><%= item.date%></td>
          <td><%= item.location%></td>
          <td><%= item.status%></td>
          <% }) %>
      </tr>
    </tbody>
  </table>
